<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-col class="container">
    <div class="background">
      <div class="profileImg"></div>
    </div>
  </ion-col>

  <p class="names"><strong>Cindy</strong> Abrams</p>
  <p class="names">cindyab33@gmail.com</p>
  <p class="names">614-588-98-88</p>
  <p style="text-align: center">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus quis cupiditate provident adipisci animi omnis laudantium, odio rem qui aspernatur, perferendis expedita minima tempora sapiente explicabo! Commodi magnam dolore culpa?
  </p>

</ion-content>
