
<ion-content style="" class="hola" [fullscreen]="true" >
 

  <div id="container">
    <strong class="title">Welcome</strong>
    
    <ion-item style="margin-top: 10%;"  class="input">
      <ion-label style="border:none" position="floating">
        Email
      </ion-label>
      <ion-input type="email">
      </ion-input>
    </ion-item>

    
    <ion-item style="margin-top: 25px;" class="input" >
      <ion-label style="border:none" position="floating">
        Password
      </ion-label>
      <ion-input type="password">
      </ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button [routerLink]= "['/users']"class="login">Log in</ion-button>
        </ion-col>
      </ion-row>
  </div>
</ion-content>
